mat-form-field {
    margin: 5px;
}

.formGrid {
    top:-65%;
    margin-left: 5%;
    margin-right: 5%;
}

form {
    margin-left: 1%;
}

mat-card-title {
    margin-bottom: 30px
}

button {
    margin-left: 8%;
}
